/**************************** Footer Widgets **************************************/
.footer-widget-content{
    width: 100%;
    background-color: #eaeaea;
    padding:30px;
    margin-top: 100px;
}
.footer-widget-content > .row > div {padding:20px 50px;}
.widget{
	margin-bottom:50px;
}

/** Text Widgets **/
.footer-widget-content .widget-title, .woocommerce-Price-amount,
.footer-widget-content dt, 
.footer-widget-contentp, 
.footer-widget-content span.quantity,
.footer-widget-content th,
.footer-widget-content label 
{color:#0e0f0f !important;}
.footer-widget-content hr{
	background:#0e0f0f;
}
.footer-widget-content a{
	color:var(--general);
	font-size:17px;
	font-weight:400;
	transition:250ms;
}
.footer-widget-content a:hover{
	color:var(--generalH);
	text-decoration:none;
}
.footer-widget-content ul li{
	list-style:none;
}
.footer-widget-content .widget-title{
	font-size:25px;
}

/** Form **/
.footer-widget-content input{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border:none;
    border-radius: .25rem;
	margin-bottom:10px;
}
.footer-widget-content input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);	
}
.footer-widget-content button[type=submit]{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	background: var(--black);
    border: none;
    transition: 300ms;
    color: var(--white);
}
.footer-widget-content select{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/** Entries **/
.widget_recent_entries li{
	margin:15px 0px;
}

/** Car Products **/
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li{
	margin-bottom:20px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li a{
	display:flex;
	justify-content:center;
	flex-direction:column;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li a img{
	width:100%;
	height:150px;
	object-fit:cover;
	border-radius:5px;
}
.woocommerce ul.cart_list li dl dd p:last-child, .woocommerce ul.product_list_widget li dl dd p:last-child{
	    transform: translateY(-5px);
}
.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	background: var(--black);
    border: none;
    transition: 300ms;
    color: var(--white);
}

/** Candelar **/
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

